<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!-- 
    This file stores the location of the local eXist installation
    (for the Ant tasks) and the destination server to deploy to.
    
    Copy me to deploy-config.xml and edit me as appropriate.
    Please don't use "xyzzy" as your real password, or baby Cthulhu
    will cry.
  -->
  
  <!-- The base directory of a local eXist installation. -->
  <exist.dir>~/Applications/exist</exist.dir>
  
  <!-- Where to find the dictionary data to deploy -->
  <data.dir>~/src/xjdic-dicfiles</data.dir>
  
  <!-- The host to deploy to. -->
  <deploy.host>localhost</deploy.host>
  <deploy.port>8081</deploy.port>
  
  <!-- Username and password to authenticate to the remote database. -->
  <deploy.user>admin</deploy.user>
  <deploy.pass>xyzzy</deploy.pass>
  
  <!-- Name of collection to store this stuff in -->
  <collection.name>jdic</collection.name>

</config>