.clear
.nav
  .clear
  .prev
    - if prev_url
      %a{:href => prev_url}«
  .count
    #{start_num}&ndash;#{end_num} of #{total_hits}
  .next
    - if next_url
      %a{:href => next_url}»
  .clear
.clear