%span.reading
  - restrs = reading[:restrictions].map { |k| kanji.find {|x| x[:ktext] == k } }
  - if ! restrs.empty?
    &#x3014;
    %sup
      = (restrs.map { |x| x[:footnote_number] }).join(', ')
    #{reading[:kana]}&#x3015;
  - else
    - if kanji.empty? && reading_counter == 1
      = reading[:kana]
    - else
      &#x3014;#{reading[:kana]}&#x3015;
