.entry
  .clear
  .sidebar
    - result[:kanji].each do |k|
      %span.kanji
        = k[:kanji]
    %span.readings
      - result[:readings].each do |r|
        %span.reading
          - if ! result[:kanji].empty?
            &#x3014;#{r[:kana]}&#x3015;
          - else
            = r[:kana]
    %a{:href => detail_url + result[:ent_seq] }
      (XML)
  .main
    %span.senses
      - result[:senses].each do |s|
        %span.sense
          = s
  .clear
