.entry
  .clear
  .sidebar
    - result[:kanji].each do |k|
      %span.kanji
        = k[:kanji]
    %span.readings
      = partial "jmdict/reading", :collection => result[:readings], |
          :locals => { :kanji => result[:kanji] }                   |
    %a{:href => detail_url + result[:ent_seq] }
      (XML)
  .main
    %span.senses
      - result[:senses].each do |s|
        %span.sense
          = s
  .clear
