.entry
  .clear
  .sidebar
    = partial "jmdict/kanji", :collection => result[:kanji]
    %span.readings
      = partial "jmdict/reading", :collection => result[:readings], |
          :locals => { :kanji => result[:kanji] }                   |
    %a{:href => detail_url + result[:ent_seq], :target => "_blank"}
      (XML)
  .main
    %span.senses
      - result[:senses].each do |s|
        %span.sense
          = s
  .clear
