.entry
  .clear
  .sidebar
    = result[:kanji]
    %a{:href => detail_url + result[:kanji_text] }
      (XML)
  .main
    .readings
      #{result[:japanese]}
    .senses
      = result[:senses].join("; ")
    - if result[:nanori]
      .readings
        Name readings: #{result[:nanori]}
  .clear
