.entry
  .clear
  .sidebar
    = result[:kanji]
    %a{:href => detail_url + result[:kanji_text] }
      (XML)
  .main
    %span.senses
      = result[:senses].join("; ")
    .readings
      = partial "kanji/reading", :collection =>              |
       result[:readings].select {|x| x[:type] =~ /^ja_/}     |
    - if result[:readings].detect {|x| x[:type] == "nanori"}
      .senses
        Name readings:
      .readings
        = partial "kanji/reading", :collection =>              |
         result[:readings].select {|x| x[:type] == "nanori"}  |
  .clear
