.entry
  .clear
  .sidebar
    = result[:kanji]
    %span.readings
      = partial "kanji/reading", :collection =>          |
       result[:readings].select {|x| x[:type] =~ /^ja_/} |
    %a{:href => detail_url + result[:kanji] }
      (XML)
  .main
    %span.senses
      - result[:senses].each do |s|
        %span.sense
          = s
  .clear
