:javascript
  $(function() {
    $("#search_button").button();
  })
.searchbar
  %form{:"accept-charset" => "utf-8", :method => "get", :action => url_for(:kanji, :search) }
    .ui-widget
      %input#query{ :type => "text", :name => "query", :value => query, |
                    :placeholder=> "Enter your search term"}            |
      %input#search_button{ :type => "submit", :value => "Search &rarr;" }
